<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="auto">
        <h1>Important-Notes</h1>
      </ion-col>
      <ion-col offset="1">
        <mat-form-field class="select">
          <mat-label>Select Batch</mat-label>
          <mat-select
            [(ngModel)]="selectedCourse"
            (selectionChange)="getNote()"
            [compareWith]="compareObjects"
          >
            <mat-option *ngFor="let course of courseList" [value]="course"
              >{{course.program}} {{course.course_name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </ion-col>

      <ion-col size="auto">
        <ion-searchbar
          class="searchBar"
          placeholder="Select Batch"
        ></ion-searchbar>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-card>
    <ion-card-content class="ion-no-padding">
      <ion-list>
        <ion-list-header>
          <ion-item class="text" lines="none">File</ion-item>
        </ion-list-header>
        <ion-item *ngFor="let note of note.notes">
          <ion-grid>
            <ion-row class="date">
              <ion-col sizeMd="auto">
                {{note.date}}
              </ion-col>
              <ion-col sizedMd="auto" class="column-right">
                <ion-button fill="clear">
                  <ion-icon name="trash"></ion-icon>
                </ion-button>
              </ion-col>
            </ion-row>
            <ion-row class="title">
              <ion-col>
                {{note.title}}
              </ion-col>
            </ion-row>
            <ion-row class="filename">
              <ion-col *ngFor="let filename of note.filename">
                <ion-chip>
                  {{filename.fileName}}
                  <ion-icon name="arrow-down-outline"></ion-icon>
                </ion-chip>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
