<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col sizeMd="auto">
        <h1>Attendance</h1>
      </ion-col>
      <ion-col offset="1">
        <mat-form-field class="select">
          <mat-label>Select Batch</mat-label>
          <mat-select
            [(ngModel)]="selectCourse"
            (selectionChange)="getAttendance()"
            [compareWith]="compareObjects"
          >
            <mat-option *ngFor="let course of courseList" [value]="course">
              {{course.program}}-{{course.course_name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-card class="cardImg">
    <ion-grid>
      <ion-row>
        <ion-col sizeMd="auto" class="date">
          <mat-form-field class="dateColor">
            <input
              matInput
              [matDatepicker]="picker1"
              [formControl]="date"
              (dateChange)="getAttendance()"
            />
            <mat-datepicker-toggle matPrefix [for]="picker1">
            </mat-datepicker-toggle>
            <mat-datepicker #picker1></mat-datepicker>
          </mat-form-field>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-md="auto">
          <ion-segment [(ngModel)]="segment" (ionChange)="segmentChanged()">
            <ion-segment-button value="All">
              {{totalStudent}} Students Total
            </ion-segment-button>

            <ion-segment-button value="Present">
              {{presentStudent}} Studen Present
            </ion-segment-button>

            <ion-segment-button value="Absent">
              {{absentStudent}} Student Absent
            </ion-segment-button>
          </ion-segment>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="ion-text-left" sizeMd="6">
          {{progessValuePresent * 100 | number:'1.0-0'}}% Present
        </ion-col>
        <ion-col class="ion-text-right" sizeMd="6">
          {{progessValueAbsent * 100 | number:'1.0-0'}}% Absent
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col offset="0.3" size="11.5">
          <ion-progress-bar
            class="progress"
            [value]="progessValuePresent"
          ></ion-progress-bar>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>

  <ion-card class="cardBoxShadow">
    <ion-grid>
      <ion-row>
        <ion-col *ngIf="attendancesFilterList.length===0" offset="4">
          <img src="../../assets/relaxing attendance.svg" alt="" />
          <ion-text>
            <h2 class="font">No Lecture on this Day</h2>
            <p>
              The date you have Selected is Yet to Come or Holiday,Please Select
              the Working Day
            </p>
          </ion-text>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-item *ngIf="attendancesFilterList.length!==0">
      <ion-grid>
        <ion-row>
          <ion-col class="dataHeading">
            Roll No
          </ion-col>
          <ion-col class="dataHeading">
            Student Name
          </ion-col>
          <ion-col class="dataHeading">
            Remarks
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>

    <ion-list>
      <ion-item *ngFor="let attendance of attendancesFilterList" lines="none">
        <ion-grid>
          <ion-row>
            <ion-col size="4" class="data">
              {{attendance.name}}
            </ion-col>
            <ion-col size="4" class="data">
              {{attendance.rollno}}
            </ion-col>
            <ion-col size="4" class="data">
              <ion-text *ngIf="attendance.remarks==='Present'" color="success">
                {{attendance.remarks}}
              </ion-text>
              <ion-text *ngIf="attendance.remarks==='Absent'" color="danger">
                {{attendance.remarks}}
              </ion-text>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
    </ion-list>
  </ion-card>
</ion-content>
