<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col sizeMd="auto">
        <h1>Course</h1>
      </ion-col>
      <ion-col offset="1">
        <mat-form-field class="select">
          <mat-label>Select Batch</mat-label>
          <mat-select
            [(ngModel)]="selectedCourse"
            (selectionChange)="getCourse()"
            [compareWith]="compareObjects"
          >
            <mat-option *ngFor="let course of courseList" [value]="course">
              {{course.program}}-{{course.course_name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-card class="cardImg">
    <ion-grid>
      <ion-row>
        <ion-col style="margin-top: -5px;">
          <h3 class="currentTopic">
            Current Topic: {{currentTopic.topic_name}}
          </h3>
        </ion-col>
      </ion-row>

      <ion-row style="margin-top: -9px;">
        <ion-col size-md="auto">
          <ion-segment [(ngModel)]="segment">
            <ion-segment-button value="0">
              {{(totalTopicCount)}} Topics Total
            </ion-segment-button>

            <ion-segment-button value="1">
              {{completedTopicCount}} Topics Completed
            </ion-segment-button>

            <ion-segment-button value="2">
              {{reamaningTopicCount}} Topics Remain
            </ion-segment-button>
          </ion-segment>
        </ion-col>
      </ion-row>
      <ion-row style="margin-top: -4px;">
        <ion-col class="ion-text-left">
          {{progressValue * 100 | number:'1.0-0'}}%
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col offset="0.2" size="11.5">
          <ion-progress-bar
            class="progress"
            [value]="progressValue"
          ></ion-progress-bar>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>

  <div [ngSwitch]="segment">
    <ion-card *ngSwitchCase="0">
      <ion-card-content class="ion-no-padding">
        <ion-list>
          <ion-list-header>
            <h1 class="text">Topics</h1>
          </ion-list-header>
          <ion-text *ngIf="selectedCourse.course==''"> </ion-text>
          <ion-item *ngFor="let completedTopic of completedTopics">
            <ion-grid *ngIf="selectedCourse.course!==''">
              <ion-row>
                <ion-col class="ion-no-padding" sizeMd="0.5">
                  <ion-icon
                    name="checkmark-circle-outline"
                    color="success"
                  ></ion-icon>
                </ion-col>

                <ion-col class="column">
                  {{completedTopic.topic_name}}
                </ion-col>
                <ion-col class="column-right ">
                  {{completedTopic.date}}
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-item>
          <ion-item
            *ngIf="(selectedCourse.course !=='') && (currentTopic.name)"
          >
            <ion-grid>
              <ion-row>
                <ion-col class="ion-no-padding" sizeMd="0.5">
                  <ion-icon name="hourglass" color="tertiary"></ion-icon>
                </ion-col>

                <ion-col class="column">
                  {{currentTopic.topic_name}}
                </ion-col>
                <ion-col class="column">
                  {{currentTopic.date}}
                </ion-col>
                <ion-col class="column-right">
                  <ion-button class="completeButton" (click)="completeTopic()"
                    >COMPLETE</ion-button
                  >
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-item>
          <ion-item
            *ngFor="let remaningTopic of remaningTopics;let index=index"
          >
            <ion-grid *ngIf="selectedCourse.course!==''">
              <ion-row>
                <ion-col class="ion-no-padding" sizeMd="0.5">
                  <ion-icon
                    name="checkmark-circle-outline"
                    color="danger"
                  ></ion-icon>
                </ion-col>

                <ion-col class="column">
                  {{remaningTopic.topic_name}}
                </ion-col>
                <ion-col class="column-right ">
                  {{remaningTopic.date}}
                </ion-col>
                <ion-col class="column-right">
                  <ion-button
                    class="startButton"
                    fill="outline"
                    color="tertiary"
                    [disabled]="flag"
                    (click)="startTopic(index)"
                    >START</ion-button
                  >
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-item>
        </ion-list>
      </ion-card-content>
    </ion-card>
    <ion-card *ngSwitchCase="1">
      <ion-card-content class="ion-no-padding">
        <ion-list-header>
          <h1 class="text">Topics</h1>
        </ion-list-header>
        <ion-item *ngFor="let completedTopic of completedTopics">
          <ion-grid *ngIf="selectedCourse.course!==''">
            <ion-row>
              <ion-col class="ion-no-padding" sizeMd="0.5">
                <ion-icon
                  name="checkmark-circle-outline"
                  color="success"
                ></ion-icon>
              </ion-col>

              <ion-col class="column">
                {{completedTopic.topic_name}}
              </ion-col>
              <ion-col class="column-right ">
                {{completedTopic.date}}
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>
      </ion-card-content>
    </ion-card>

    <ion-card *ngSwitchCase="2">
      <ion-card-content class="ion-no-padding">
        <ion-list-header>
          <h1 class="text">Topics</h1>
        </ion-list-header>
        <ion-item *ngFor="let remaningTopic of remaningTopics;let index=index">
          <ion-grid *ngIf="selectedCourse.course!==''">
            <ion-row>
              <ion-col class="ion-no-padding" sizeMd="0.5">
                <ion-icon
                  name="checkmark-circle-outline"
                  color="danger"
                ></ion-icon>
              </ion-col>

              <ion-col class="column">
                {{remaningTopic.topic_name}}
              </ion-col>
              <ion-col class="column-right ">
                {{remaningTopic.date}}
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>
      </ion-card-content>
    </ion-card>
  </div>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="addTopic()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
