<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu type="overlay" contentId="main-content">
      <ion-content class="text-center">
        <img src="../assets/Manage Logo.svg" class="logo" />
        <h6>
          by Aartzy Infotech
        </h6>

        <ion-grid *ngIf="loggedIn" class="no-padding">
          <ion-card class="logincard">
            <ion-row class="row">
              <ion-col size="auto" *ngIf="imageURL">
                <ion-avatar class="avatar">
                  <img src="{{ imageURL }}" />
                </ion-avatar>
              </ion-col>
              <ion-col *ngIf="!imageURL">
                <ion-avatar class="avatar">
                  <img src="../assets/alternative.svg" />
                </ion-avatar>
              </ion-col>
              <ion-col>
                <ion-grid no-padding>
                  <ion-row>
                    <ion-col>
                      <ion-text class="name">
                        {{ fullName }}
                      </ion-text>
                    </ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col>
                      <ion-text class="email">
                        {{ email }}
                      </ion-text>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </ion-col>
            </ion-row>
            <ion-item
              routerDirection="'root'"
              routerLink="/"
              *ngIf="loggedIn"
              (click)="logout()"
              class="clickable"
            >
              <ion-button fill="outline" shape="round" class="logoutbtn "
                >Logout</ion-button
              >
            </ion-item>
          </ion-card></ion-grid
        ><br />

        <ion-list lines="none" class="ion-list">
          <ion-menu-toggle auto-hide="false">
            <ion-item
              routerDirection="'root'"
              *ngIf="!loggedIn"
              routerLink="/"
              (click)="login()"
              class="clickable"
              routerLinkActive="active"
            >
              <ion-icon slot="start" name="log-in"></ion-icon>
              <ion-label>Login</ion-label>
            </ion-item>
            <ion-item
              routerDirection="'root'"
              *ngIf="loggedIn"
              routerLink="/home"
              routerLinkActive="active"
            >
              <ion-icon slot="start" name="home-sharp"></ion-icon>
              <ion-label>Home</ion-label>
            </ion-item>
            <ion-item
              routerDirection="'root'"
              *ngIf="loggedIn"
              routerLink="/course"
              routerLinkActive="active"
            >
              <ion-icon slot="start" name="book-sharp"></ion-icon>
              <ion-label>Course</ion-label>
            </ion-item>
            <ion-item
              routerDirection="'root'"
              *ngIf="loggedIn"
              routerLink="/attendance"
              routerLinkActive="active"
            >
              <ion-icon slot="start" name="calendar-sharp"></ion-icon>
              <ion-label>Attendance</ion-label>
            </ion-item>

            <mat-expansion-panel *ngIf="loggedIn">
              <mat-expansion-panel-header
                style="padding-left: 0.2px;"
                routerDirection="'root'"
                *ngIf="loggedIn"
                routerLink="/important-note"
                routerLinkActive="active"
              >
                <ion-item>
                  <ion-icon name="create" slot="start"></ion-icon>
                  References :
                </ion-item>
              </mat-expansion-panel-header>

              <ion-list style="margin-left: 20px;">
                <ion-item
                  routerDirection="'root'"
                  *ngIf="loggedIn"
                  routerLink="/important-note"
                  routerLinkActive="active"
                >
                  <ion-icon name="pencil-sharp" slot="start"></ion-icon>
                  Notes
                </ion-item>
                <ion-item
                  routerDirection="'root'"
                  *ngIf="loggedIn"
                  routerLink="/file"
                  routerLinkActive="active"
                >
                  <ion-icon name="document-sharp" slot="start"></ion-icon>
                  Files
                </ion-item>
              </ion-list>
            </mat-expansion-panel>

            <ion-item
              routerDirection="'root'"
              *ngIf="loggedIn"
              routerLink="/quiz"
              routerLinkActive="active"
            >
              <ion-icon slot="start" name="chatbubbles"></ion-icon>

              <ion-label>Quiz</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
