::ng-deep .mat-form-field-label {
  margin-left: 20px !important;
  overflow: visible !important;
  z-index: 1 !important;
  margin-top: -7px !important;
  background: var(--ion-color-dark-contrast) !important;
  width: auto !important;
  padding-left: 10px !important;
  padding-right: 10px !important;
}

::ng-deep .mat-form-field-label-wrapper {
  overflow: visible !important;
}

::ng-deep .mat-form-field-underline {
  display: none;
}

::ng-deep .mat-select-value-text {
  margin-left: 10px;
}

.select {
  width: 35%;
  border: 2px var(--ion-mat-field-color) solid;
  border-radius: 5px;
  padding-left: 5px;
  padding-right: 5px;
}

.selectTopic {
  margin: 7px;
  width: 13%;
  border: 2px var(--ion-selectTopic-border-color) solid;
  border-radius: 5px;
  padding-left: 5px;
  padding-right: 5px;
}

.column-right {
  text-align: right;

  opacity: 1;
}

.text {
  text-align: left;
  font-size: 24px;
  letter-spacing: 0;
  color: #707070;
  opacity: 1;
}

h1 {
  text-align: left;
  font-size: 38px Roboto;
  letter-spacing: 0;
  color: var(--color-heading);
  opacity: 1;
}
ion-fab-button {
  --background: var(--ion-segment-checked-color);
}

ion-card {
  --background: var(--ion-color-dark-contrast) !important;

  ion-card-content {
    --background: var(--ion-color-dark-contrast) !important;

    ion-list {
      --background: var(--ion-color-dark-contrast) !important;
      padding: 0;
      ion-list-header {
        --background: var(--ion-color-dark-contrast) !important;
      }
      ion-item {
        --background: var(--ion-color-dark-contrast) !important;
      }
    }
  }
}
ion-card {
  box-shadow: 0px 1px 30px var(--ion-box-shadow);
  border-radius: 15px;
  opacity: 1;
}

.date {
  font-size: 14px;
  letter-spacing: 0;
  color: var(--ion-color);
  opacity: 1;
}

.title {
  text-align: left;
  font-size: 18px;
  letter-spacing: 0;
  color: var(--ion-color);
  font-weight: 525;
  opacity: 1;
}

.description {
  text-align: left;
  font-size: 18px;
  letter-spacing: 0;
  color: var(var(--ion-color));
  opacity: 1;
}

ion-searchbar {
  --background: var(--ion-row-background);
}

.card {
  min-height: 85vh;
}
